# Custom 'config' directory
#   - Defaults to './config' (git ignored) if not set in a new file named '.env'
#   - The 'bin/setup.sh' script will add a symlink from this dir to './config'
DOTFILES_CONFIG_DIR=/home/abc/Synced/UserConfig
