#
#
# Custom Grub Config
#   - Editing this area of your system could make it not work properly
#   - Run grub-setup.sh in this directory first
# 	- Make a backup of the current Grub Config file: sudo cp /etc/default/grub ~/grub-backup.txt
# 	- Then edit the Grub Config file: sudo vim /etc/default/grub
#   - Copy over the contents from this file
#   - Save the Grub Config file and quit Vim
#   - Apply the changes to Grub: sudo update-grub
#   - Next time your system boots, Grub will use the updated config
#
#

# Show a list of items, and if nothing is pressed for 10 seconds, load the 'GRUB_DEFAULT' item
GRUB_TIMEOUT_STYLE=menu
GRUB_TIMEOUT=10

# Load the previous selection as the default
GRUB_SAVEDEFAULT=true
GRUB_DEFAULT=saved

# Show the boot options in a flat list instead of using submenus
GRUB_DISABLE_SUBMENU=true

# The command that is used to populate each menu item
GRUB_DISTRIBUTOR=`( . /etc/os-release && echo ${NAME} )`

# Set boot options for regular menu items
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"

# Set boot options for recovery menu items
GRUB_CMDLINE_LINUX=""

# Set the screen resolution, and use this for the entire boot process
GRUB_GFXMODE=3440x1440
GRUB_GFXPAYLOAD=keep

# Customise the colours, in the format of: foreground/background
# Using 'teal' here requires running 'grub-setup.sh' first.
GRUB_COLOR_NORMAL="white/black"
GRUB_COLOR_HIGHLIGHT="teal/black"

# Optional - List other Operating Systems as well
# GRUB_DISABLE_OS_PROBER=false

