#
#
# Custom Grub Config for Fedora 44
#   - Editing this area of your system could make it not work properly
#   - Run grub.sh in this directory first
# 	- Make a backup of the current Grub Config file: sudo cp /etc/default/grub ~/grub-backup.txt
# 	- Then edit the Grub Config file: sudo vim /etc/default/grub
#   - Copy over the contents from this file
#   - Save the Grub Config file and quit Vim
#   - Apply the changes to Grub: sudo grub2-mkconfig -o /boot/grub2/grub.cfg
#   - Next time your system boots, Grub will use the updated config
#
#

# Show a list of items, and if nothing is pressed for
# (GRUB_TIMEOUT) seconds, load the (GRUB_DEFAULT) item.
GRUB_TIMEOUT_STYLE=menu
GRUB_TIMEOUT=10
GRUB_DEFAULT=saved

# Show items in a flat list instead of using submenus
GRUB_DISABLE_SUBMENU=true

# Set the screen resolution, and use this for the entire boot process
GRUB_TERMINAL_OUTPUT="gfxterm"
GRUB_GFXMODE=3440x1440,auto

# Customise the text colours, in the format of: foreground/background
export GRUB_COLOR_NORMAL="white/black"
export GRUB_COLOR_HIGHLIGHT="teal/black"

GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_CMDLINE_LINUX="rhgb quiet rd.driver.blacklist=nouveau,nova_core modprobe.blacklist=nouveau,nova_core"
GRUB_DISABLE_RECOVERY="true"
GRUB_ENABLE_BLSCFG=true

# Fedora defaults
#GRUB_TIMEOUT=5
#GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
#GRUB_DEFAULT=saved
#GRUB_DISABLE_SUBMENU=true
#GRUB_TERMINAL_OUTPUT="console"
#GRUB_CMDLINE_LINUX="rhgb quiet rd.driver.blacklist=nouveau,nova_core modprobe.blacklist=nouveau,nova_core"
#GRUB_DISABLE_RECOVERY="true"
#GRUB_ENABLE_BLSCFG=true
